<%- include ("header") %> 

<h2>
    This is the About Page
</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem animi magni blanditiis veniam soluta nulla sed hic
    itaque numquam, non cum, vero voluptates sapiente nobis expedita ducimus autem tenetur facilis.</p>

<%- include ("footer") %>